/*全局设置*/
@charset "utf-8";
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	color: #E0E0E0;
	background-color: #E0E0E0;
}
/*页脚设置*/
#footer{
	margin-top: 50px;
	background-color: #666;
	border-top: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	color: #eee;
}
/*轮播图设置*/
#myCarousel {
	margin: 50px 0 0 0;
}
#navbar-collapse ul {
	margin-top:0;
}
.carousel-inner img {
	margin: 0 auto;
}

/*栏目标题设置*/
.jumbotron {
	background-image: url(/SSM/img/bg.jpg);
	margin: 50px 0px 0px 0px;
	color: #ccc;
}
.jumbotron h1 {
	font-size: 40px;
	padding: 0 0 0 20px;
}
.jumbotron h4 {
	font-size: 15px;
	padding: 0 0 0 20px;
}
.jumbotron h1 span{
	font-size: 10px;
	padding: 0 0 0 20px;
}

/*设置textarea的样式*/
.selfdescribe{
	resize:none
}

/*文件上传*/
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
/*个人信息部分主体*/
#information {
	background-color: #E0E0E0;
	color:#000;
	padding: 40px 0;
}
.info-content {
	background-color: #E0E0E0;
	margin: 0 0 20px 0;
	box-shadow: 1px 1px 5px #aaa;
}
.info-content img {
	margin: 12px 0;
}
.info-content h4 {
	color: #333;
	padding: 2px 0 0 0;
	font-size: 14px;
}
.info-content p {
	line-height: 1.6;
}
.info-right {
	background-color: #E0E0E0;
	box-shadow: 1px 1px 5px #000;
}
.info-right blockquote {
	margin: 0;
	padding: 0;
}
.info-right h2 {
	font-size: 20px;
	color: #333;
	padding: 5px;
}
.info-right h4 {
	color: #333;
	font-size: 16px;
	padding: 2px 0 0 0;
	line-height: 1.6;
}
/*个人头像边框*/
#imgdiv{
	border:10px solid #ccc
}
/*输入框的背景颜色*/
.inputcoloor {
	background-color:#ccc;
}


